In [1]:
import pandas as pd
import numpy as np

In [2]:
data_preprocessed = pd.read_csv("Absenteeism_Preprocessed.csv")

In [3]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

# Creating Target Variables

In [4]:
#Finding the median absenteeism hours to set classification threshold
data_preprocessed["Absenteeism Time in Hours"].median()

3.0

In [5]:
#Create the targets variable using the median value as a cut-off point. Values of 1 represent excessive absenteeism while
#values of 0 represent "normal" levels of absenteeism. 
targets = np.where(data_preprocessed["Absenteeism Time in Hours"] > 
                   data_preprocessed["Absenteeism Time in Hours"].median(), 1, 0)

In [6]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [7]:
data_preprocessed["Excessive Absenteeism"] = targets

In [8]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [9]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [10]:
data_with_targets = data_preprocessed.drop(["Absenteeism Time in Hours", 'Day of the Week', 'Distance to Work', 
                                            "Daily Work Load Average"], axis = 1)

# Selecting inputs for regression

In [11]:
#Use the .iloc method to isolate the first 14 columns
data_with_targets.iloc[:, :-1].head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1

In [12]:
#Omit the last column "Excessive Absenteeism" as it is the target variable.
unscaled_inputs = data_with_targets.iloc[:, :-1]

# Standardize the data

In [13]:
from sklearn.preprocessing import StandardScaler

absenteeism_scaler = StandardScaler()

In [14]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator, TransformerMixin):
    def __init__(self, columns, copy = True, with_mean = True, with_std = True):
        self.scaler = StandardScaler(copy, with_mean, with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    def fit(self, X, y = None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y = None, copy = None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns = self.columns)
        X_not_scaled = X.loc[:, ~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis = 1)[init_col_order]

In [15]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [16]:
#columns_to_scale = ['Month Value','Day of the Week', 'Transportation Expense', 'Distance to Work',
       #'Age', 'Daily Work Load Average', 'Body Mass Index', 'Children', 'Pets']
    
columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Education']

In [17]:
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [18]:
absenteeism_scaler = CustomScaler(columns_to_scale)

In [19]:
#the .fit() method will calculate the mean and standard deviation of the input variables
#to prepare for scaling.
absenteeism_scaler.fit(unscaled_inputs)

C:\Users\Cat\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

CustomScaler(columns=['Month Value', 'Transportation Expense', 'Age', 'Body Mass Index', 'Children', 'Pets'],
       copy=None, with_mean=None, with_std=None)

In [20]:
#Use the .transform method to scale the inputs and save it to a new variable scaled_inputs
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

C:\Users\Cat\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

In [21]:
#Verify the observations were scaled 
scaled_inputs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487

In [22]:
scaled_inputs.shape

(700, 11)

# Splitting the data into Train and Test datasets

In [23]:
#import the train_test_split module from scikit
from sklearn.model_selection import train_test_split

In [24]:
#Use the input and target variable dataframes in the split method.
#Creates 4 separate arrays:
#Array 1 = Training dataset with inputs
#Array 2 = Training dataset with targets
#Array 3 = Test dataset with inputs
#Array 4 = Test dataset with targets
train_test_split(scaled_inputs, targets)

[     Reason_1  Reason_2  Reason_3  Reason_4  Month Value  \
 306         0         0         0         1     1.039256
 624         0         0         0         1    -0.959313
 217         1         0         0         0    -0.388293
 33          0         0         1         0     0.468236
 154         0         0         1         0    -1.244823
 496         0         0         0         1     0.753746
 59          0         0         0         1     0.753746
 178         1         0         0         0    -0.959313
 539         0         0         0         1     1.324766
 284         0         0         0         1     0.753746
 641         0         0         0         1    -0.959313
 291         0         0         0         1     1.039256
 72          0         0         0         1     1.039256
 183         0         0         0         1    -0.959313
 511         0         0         0         1     1.039256
 346         0         0         0         1     1.610276
 695         1         0         0         0    -0.388293
 194         1         0         0         0    -0.673803
 202         1         0         0         0    -0.673803
 470         0         0         0         1     0.182726
 224         1         0         0         0    -0.102784
 44          0         0         0         1     0.753746
 296         1         0         0         0     1.039256
 495         0         0         0         1     0.753746
 339         1         0         0         0     1.610276
 523         1         0         0         0     1.039256
 427         1         0         0         0    -0.388293
 95          0         0         0         1     1.324766
 550         1         0         0         0     1.324766
 404         1         0         0         0    -0.959313
 ..        ...       ...       ...       ...          ...
 549         0         0         0         0     1.324766
 41          0         0         0         1     0.753746
 553         0         0         0         1     1.324766
 131         0         0         0         1    -1.530333
 458         1         0         0         0    -0.102784
 699         0         0         0         1    -0.388293
 277         0         0         0         0     0.753746
 102         0         0         0         1     1.610276
 174         0         0         0         1    -0.959313
 668         0         1         0         0    -0.673803
 313         0         0         0         0     1.039256
 468         0         1         0         0     0.182726
 625         0         0         0         1    -0.959313
 215         0         0         0         0    -0.388293
 235         0         0         0         1    -0.102784
 456         0         0         1         0    -0.102784
 228         1         0         0         0    -0.102784
 242         0         0         0         1     0.182726
 91          0         0         1         0     1.324766
 669         0         0         0         1    -0.673803
 293         0         0         0         0     1.039256
 599         0         0         0         1    -1.244823
 286         0         0         0         1     0.753746
 529         1         0         0         0     1.039256
 304         0         0         0         1     1.039256
 252         0         0         1         0     0.468236
 103         0         0         0         1     1.610276
 107         0         0         0         1     1.610276
 414         0         0         0         1    -0.673803
 187         1         0         0         0    -0.673803

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 306               -1.574681  2.130803         1.002633          0 -0.019280
 624                0.040034 -1.320435        -0.643782          0 -0.019280
 217               -0.654143  0.248310         1.002633          0 -0.919030
 33                 0.190942  1.817054         1.473038          0 -0.019280
 154               -0.503235 -0.536062        -0.408580          0  0.880469
 496                0.356940  0.718933        -0.878984          0 -0.919030
 59                 0.387122  1.660180         1.237836          0  0.880469
 178                0.040034 -1.320435        -0.643782          0 -0.019280
 539                0.040034 -1.320435        -0.643782          0 -0.019280
 284               -1.574681  2.130803         1.002633          0 -0.019280
 641               -0.654143  0.248310         1.002633          0 -0.919030
 291                1.005844 -0.536062         0.767431          0  0.880469
 72                -0.654143  0.248310         1.002633          0 -0.919030
 183                0.040034 -1.320435        -0.643782          0 -0.019280
 511                1.036026  0.562059        -0.408580          0 -0.019280
 346               -0.654143  0.248310         1.002633          0 -0.919030
 695               -0.654143  0.562059        -1.114186          1  0.880469
 194                0.356940  0.718933        -0.878984          0 -0.919030
 202                0.190942  0.091435         0.532229          1 -0.019280
 470                0.356940  0.718933        -0.878984          0 -0.919030
 224                0.356940  0.718933        -0.878984          0 -0.919030
 44                -1.016322 -0.379188        -0.408580          0  0.880469
 296               -1.574681  0.091435         0.297027          0 -0.919030
 495                0.356940  0.718933        -0.878984          0 -0.919030
 339                0.040034 -1.320435        -0.643782          0 -0.019280
 523                2.213108 -0.849811        -0.408580          0  1.780219
 427                2.213108 -0.849811        -0.408580          0  1.780219
 95                 0.040034 -1.320435        -0.643782          0 -0.019280
 550                0.387122  1.660180         1.237836          0  0.880469
 404               -1.574681  2.130803         1.002633          0 -0.019280
 ..                      ...       ...              ...        ...       ...
 549                1.005844 -0.536062         0.767431          0  0.880469
 41                -1.574681  0.091435         0.297027          0 -0.919030
 553                2.213108 -0.849811        -0.408580          0  1.780219
 131               -1.574681  0.091435         0.297027          0 -0.919030
 458                1.624567 -1.320435        -0.408580          1 -0.919030
 699                1.036026  0.562059        -0.408580          0 -0.019280
 277                1.036026 -0.692937        -0.878984          0 -0.919030
 102                0.040034 -1.320435        -0.643782          0 -0.019280
 174                0.040034 -1.320435        -0.643782          0 -0.019280
 668                0.190942 -0.692937        -0.408580          1 -0.919030
 313               -0.986140 -1.163560        -1.114186          0 -0.919030
 468                1.171843  1.032682        -0.408580          0  0.880469
 625               -0.654143  0.248310         1.002633          0 -0.919030
 215                2.348925 -0.065439        -1.349389          0  0.880469
 235                0.040034 -1.320435        -0.643782          0 -0.019280
 456               -0.654143 -1.006686        -1.819793          1 -0.919030
 228               -1.574681  2.130803         1.002633          0 -0.019280
 242               -1.016322 -0.379188        -0.408580          0  0.880469
 91                -0.654143  0.562059        -1.114186          1  0.880469
 669               -0.654143 -1.006686        -1.819793          1 -0.919030
 293               -1.574681  2.130803         1.002633          0 -0.019280
 599                0.040034 -1.320435        -0.643782          0 -0.019280
 286                1.036026  0.562059        -0.408580          0 -0.019280
 529                0.387122  1.660180         1.237836          0  0.880469
 304                0.190942  1.032682         2.649049          0 -0.019280
 252                1.005844 -0.536062         0.767431          0  0.880469
 103                0.568211 -0.065439        -0.878984          0  2.679969
 107                0.568211 -0.065439        -0.878984          0  2.679969
 414                1.624567 -1.320435        -0.408580          1 -0.919030
 187                0.356940  0.718933        -0.878984          0 -0.919030

          Pets
 306 -0.589690
 624  1.126663
 217 -0.589690
 33   3.701192
 154  1.126663
 496 -0.589690
 59   0.268487
 178  1.126663
 539  1.126663
 284 -0.589690
 641 -0.589690
 291  0.268487
 72  -0.589690
 183  1.126663
 511  0.268487
 346 -0.589690
 695 -0.589690
 194 -0.589690
 202  0.268487
 470 -0.589690
 224 -0.589690
 44  -0.589690
 296 -0.589690
 495 -0.589690
 339  1.126663
 523 -0.589690
 427 -0.589690
 95   1.126663
 550  0.268487
 404 -0.589690
 ..        ...
 549  0.268487
 41  -0.589690
 553 -0.589690
 131 -0.589690
 458 -0.589690
 699  0.268487
 277 -0.589690
 102  1.126663
 174  1.126663
 668 -0.589690
 313 -0.589690
 468  0.268487
 625 -0.589690
 215  2.843016
 235  1.126663
 456 -0.589690
 228 -0.589690
 242 -0.589690
 91  -0.589690
 669 -0.589690
 293 -0.589690
 599  1.126663
 286  0.268487
 529  0.268487
 304 -0.589690
 252  0.268487
 103 -0.589690
 107 -0.589690
 414 -0.589690
 187 -0.589690

 [525 rows x 11 columns],
      Reason_1  Reason_2  Reason_3  Reason_4  Month Value  \
 380         0         0         0         1    -1.244823
 682         0         0         1         0    -0.388293
 445         0         0         0         1    -0.102784
 8           0         0         1         0     0.182726
 502         0         0         0         1     0.753746
 471         1         0         0         0     0.182726
 36          0         0         0         1     0.468236
 664         1         0         0         0    -0.673803
 368         0         0         0         1    -1.530333
 206         0         0         0         1    -0.388293
 487         0         0         0         1     0.468236
 90          0         0         0         1     1.324766
 587         1         0         0         0    -1.244823
 144         1         0         0         0    -1.244823
 644         0         0         0         1    -0.959313
 210         0         0         0         1    -0.388293
 652         0         0         1         0    -0.959313
 524         1         0         0         0     1.039256
 518         0         0         0         1     1.039256
 609         0         0         0         1    -1.244823
 269         1         0         0         0     0.468236
 253         0         0         1         0     0.468236
 241         0         0         1         0     0.182726
 222         1         0         0         0    -0.102784
 162         1         0         0         0    -0.959313
 453         0         0         0         1    -0.102784
 582         1         0         0         0    -1.530333
 554         0         0         0         1     1.324766
 376         0         0         0         1    -1.244823
 20          1         0         0         0     0.468236
 ..        ...       ...       ...       ...          ...
 60          0         0         0         1     0.753746
 122         0         0         0         1    -1.530333
 82          1         0         0         0     1.324766
 574         1         0         0         0    -1.530333
 326         0         0         1         0     1.324766
 290         0         0         0         1     1.039256
 204         1         0         0         0    -0.388293
 411         0         0         0         1    -0.959313
 49          1         0         0         0     0.753746
 265         0         0         0         1     0.468236
 372         0         0         0         1    -1.244823
 464         0         0         0         1     0.182726
 476         0         0         0         1     0.182726
 680         0         0         0         1    -0.388293
 341         0         0         0         1     1.610276
 508         1         0         0         0     1.039256
 315         1         0         0         0     1.039256
 402         0         0         0         1    -0.959313
 670         0         0         0         1    -0.673803
 21          1         0         0         0     0.468236
 272         0         0         1         0     0.753746
 422         0         0         0         1    -0.673803
 603         1         0         0         0    -1.244823
 11          1         0         0         0     0.182726
 488         0         0         0         1     0.468236
 127         0         0         0         1    -1.530333
 55          0         0         0         0     0.753746
 683         0         0         0         1    -0.388293
 181         0         0         0         1    -0.959313
 478         0         0         0         1     0.182726

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 380               -0.503235 -0.536062        -0.408580          0  0.880469
 682                1.171843  1.032682        -0.408580          0  0.880469
 445                0.568211 -0.065439        -0.878984          0  2.679969
 8                 -1.016322 -0.379188        -0.408580          0  0.880469
 502               -0.654143  0.248310         1.002633          0 -0.919030
 471                0.040034 -1.320435        -0.643782          0 -0.019280
 36                 1.005844 -0.536062         0.767431          0  0.880469
 664               -1.574681  0.091435         0.297027          0 -0.919030
 368               -0.654143  0.248310         1.002633          0 -0.919030
 206               -1.016322 -0.379188        -0.408580          0  0.880469
 487               -0.654143  0.248310         1.002633          0 -0.919030
 90                 0.040034 -1.320435        -0.643782          0 -0.019280
 587                0.387122  1.660180         1.237836          0  0.880469
 144                2.499833  2.130803        -0.643782          0 -0.919030
 644               -0.654143 -1.006686        -1.819793          1 -0.919030
 210               -1.016322 -0.379188        -0.408580          0  0.880469
 652                1.005844 -0.536062         0.767431          0  0.880469
 524                0.040034 -1.320435        -0.643782          0 -0.019280
 518                0.040034 -1.320435        -0.643782          0 -0.019280
 609                0.190942 -0.692937        -0.408580          1 -0.919030
 269               -0.578689 -1.477309        -1.349389          0 -0.919030
 253               -0.986140 -1.163560        -1.114186          0 -0.919030
 241               -0.654143 -1.006686        -1.819793          1 -0.919030
 222                0.356940  0.718933        -0.878984          0 -0.919030
 162                0.387122  1.660180         1.237836          0  0.880469
 453                0.040034 -1.320435        -0.643782          0 -0.019280
 582                1.005844 -0.536062         0.767431          0  0.880469
 554                2.092381 -1.320435         0.061825          0 -0.019280
 376               -0.654143  0.248310         1.002633          0 -0.919030
 20                 1.624567 -1.320435        -0.408580          1 -0.919030
 ..                      ...       ...              ...        ...       ...
 60                -0.654143  0.248310         1.002633          0 -0.919030
 122                0.040034 -1.320435        -0.643782          0 -0.019280
 82                -0.654143  0.248310         1.002633          0 -0.919030
 574               -0.654143 -1.006686        -1.819793          1 -0.919030
 326                0.190942  0.091435         0.532229          1 -0.019280
 290                0.190942  0.091435         0.532229          1 -0.019280
 204                1.005844 -0.536062         0.767431          0  0.880469
 411                0.356940  0.718933        -0.878984          0 -0.919030
 49                 1.036026  0.562059        -0.408580          0 -0.019280
 265                0.190942  0.091435         0.532229          1 -0.019280
 372                1.005844 -0.536062         0.767431          0  0.880469
 464                1.624567 -1.320435        -0.408580          1 -0.919030
 476                0.190942  1.032682         2.649049          0 -0.019280
 680                1.036026  0.562059        -0.408580          0 -0.019280
 341               -0.654143  0.248310         1.002633          0 -0.919030
 508                0.190942 -0.692937        -0.408580          1 -0.919030
 315               -0.654143 -1.006686        -1.819793          1 -0.919030
 402               -1.574681  2.130803         1.002633          0 -0.019280
 670               -1.016322 -0.379188        -0.408580          0  0.880469
 21                -0.654143  0.248310         1.002633          0 -0.919030
 272                1.005844 -0.536062         0.767431          0  0.880469
 422                0.568211 -0.065439        -0.878984          0  2.679969
 603                0.160760 -0.849811        -1.349389          1 -0.019280
 11                 0.568211 -0.065439        -0.878984          0  2.679969
 488               -0.654143  0.562059        -1.114186          1  0.880469
 127               -1.574681  0.091435         0.297027          0 -0.919030
 55                -1.574681  2.130803         1.002633          0 -0.019280
 683                0.040034  0.718933         0.297027          1  0.880469
 181                0.040034 -1.320435        -0.643782          0 -0.019280
 478                1.036026  0.562059        -0.408580          0 -0.019280

          Pets
 380  1.126663
 682  0.268487
 445 -0.589690
 8   -0.589690
 502 -0.589690
 471  1.126663
 36   0.268487
 664 -0.589690
 368 -0.589690
 206 -0.589690
 487 -0.589690
 90   1.126663
 587  0.268487
 144 -0.589690
 644 -0.589690
 210 -0.589690
 652  0.268487
 524  1.126663
 518  1.126663
 609 -0.589690
 269 -0.589690
 253 -0.589690
 241 -0.589690
 222 -0.589690
 162  0.268487
 453  1.126663
 582  0.268487
 554  2.843016
 376 -0.589690
 20  -0.589690
 ..        ...
 60  -0.589690
 122  1.126663
 82  -0.589690
 574 -0.589690
 326  0.268487
 290  0.268487
 204  0.268487
 411 -0.589690
 49   0.268487
 265  0.268487
 372  0.268487
 464 -0.589690
 476 -0.589690
 680  0.268487
 341 -0.589690
 508 -0.589690
 315 -0.589690
 402 -0.589690
 670 -0.589690
 21  -0.589690
 272  0.268487
 422 -0.589690
 603  6.275721
 11  -0.589690
 488 -0.589690
 127 -0.589690
 55  -0.589690
 683  1.126663
 181  1.126663
 478  0.268487

 [175 rows x 11 columns],
 array([0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
        0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
        0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
        1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
        0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
        0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
        0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
        0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1,
        1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
        1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
        0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
        0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0,
        1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
        0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,

In [25]:
#Save the output arrays into different variables.
#Use train_size to set the training data to an 80/20 split.
#Set random_state to 20 to make the split data pseudo-random.
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, random_state = 20)

C:\Users\Cat\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [26]:
#Verify the split and examine the array shape
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(560, 11) (560,)
(140, 11) (140,)

# Logistic Regression

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [28]:
reg = LogisticRegression()

In [29]:
reg.fit(x_train, y_train)

C:\Users\Cat\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [30]:
reg.score(x_train, y_train)

0.775

# Manually check the model's accuracy

In [31]:
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [32]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [33]:
model_outputs == y_train

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True,  True, False,  True, False,  True,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
       False,  True,  True,  True,  True,  True, False,  True, False,
        True,  True,  True, False, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True])

In [34]:
np.sum((model_outputs == y_train))

434

In [35]:
model_outputs.shape[0]

560

In [36]:
np.sum((model_outputs == y_train))/model_outputs.shape[0]

0.775

# Finding the Intercept and Coefficients

In [37]:
reg.intercept_

array([-1.46547112])

In [38]:
reg.coef_

array([[ 2.62749942,  0.86338637,  2.96050661,  0.66390745,  0.15493732,
         0.59979822, -0.17245127,  0.27568526, -0.23452541,  0.34249662,
        -0.2775137 ]])

In [39]:
feature_name = unscaled_inputs.columns.values

In [40]:
summary_table = pd.DataFrame(columns = ["Feature Name"], data = feature_name)

summary_table["Coefficient"] = np.transpose(reg.coef_)

summary_table

              Feature Name  Coefficient
0                 Reason_1     2.627499
1                 Reason_2     0.863386
2                 Reason_3     2.960507
3                 Reason_4     0.663907
4              Month Value     0.154937
5   Transportation Expense     0.599798
6                      Age    -0.172451
7          Body Mass Index     0.275685
8                Education    -0.234525
9                 Children     0.342497
10                    Pets    -0.277514

In [41]:
summary_table.index = summary_table.index + 1

In [42]:
summary_table.loc[0] = ["Intercept", reg.intercept_[0]]
summary_table = summary_table.sort_index()

In [43]:
summary_table

              Feature Name  Coefficient
0                Intercept    -1.465471
1                 Reason_1     2.627499
2                 Reason_2     0.863386
3                 Reason_3     2.960507
4                 Reason_4     0.663907
5              Month Value     0.154937
6   Transportation Expense     0.599798
7                      Age    -0.172451
8          Body Mass Index     0.275685
9                Education    -0.234525
10                Children     0.342497
11                    Pets    -0.277514

# Interpreting the Coefficients

In [44]:
summary_table["Odds Ratio"] = np.exp(summary_table.Coefficient)

In [45]:
summary_table

              Feature Name  Coefficient  Odds Ratio
0                Intercept    -1.465471    0.230969
1                 Reason_1     2.627499   13.839121
2                 Reason_2     0.863386    2.371177
3                 Reason_3     2.960507   19.307751
4                 Reason_4     0.663907    1.942367
5              Month Value     0.154937    1.167585
6   Transportation Expense     0.599798    1.821751
7                      Age    -0.172451    0.841599
8          Body Mass Index     0.275685    1.317433
9                Education    -0.234525    0.790946
10                Children     0.342497    1.408460
11                    Pets    -0.277514    0.757665

In [46]:
summary_table.sort_values("Odds Ratio", ascending = False)

              Feature Name  Coefficient  Odds Ratio
3                 Reason_3     2.960507   19.307751
1                 Reason_1     2.627499   13.839121
2                 Reason_2     0.863386    2.371177
4                 Reason_4     0.663907    1.942367
6   Transportation Expense     0.599798    1.821751
10                Children     0.342497    1.408460
8          Body Mass Index     0.275685    1.317433
5              Month Value     0.154937    1.167585
7                      Age    -0.172451    0.841599
9                Education    -0.234525    0.790946
11                    Pets    -0.277514    0.757665
0                Intercept    -1.465471    0.230969

# Using the Test split data to Test the Model

In [47]:
reg.score(x_test, y_test)

0.75

In [48]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.71221976, 0.28778024],
       [0.58760009, 0.41239991],
       [0.44337438, 0.55662562],
       [0.77903962, 0.22096038],
       [0.08458343, 0.91541657],
       [0.33103371, 0.66896629],
       [0.29792496, 0.70207504],
       [0.12956221, 0.87043779],
       [0.78307821, 0.21692179],
       [0.74708659, 0.25291341],
       [0.49514969, 0.50485031],
       [0.22640297, 0.77359703],
       [0.07030984, 0.92969016],
       [0.73504052, 0.26495948],
       [0.30533085, 0.69466915],
       [0.55035881, 0.44964119],
       [0.55027426, 0.44972574],
       [0.53930442, 0.46069558],
       [0.40117774, 0.59882226],
       [0.05320682, 0.94679318],
       [0.69874615, 0.30125385],
       [0.77903962, 0.22096038],
       [0.41634563, 0.58365437],
       [0.41634563, 0.58365437],
       [0.2412915 , 0.7587085 ],
       [0.74317087, 0.25682913],
       [0.51065194, 0.48934806],
       [0.85703303, 0.14296697],
       [0.19934235, 0.80065765],
       [0.77903962, 0.22096038],
       [0.62971577, 0.37028423],
       [0.31683213, 0.68316787],
       [0.31174245, 0.68825755],
       [0.47305759, 0.52694241],
       [0.77903962, 0.22096038],
       [0.46507358, 0.53492642],
       [0.77546993, 0.22453007],
       [0.25610763, 0.74389237],
       [0.59670727, 0.40329273],
       [0.39698373, 0.60301627],
       [0.78656024, 0.21343976],
       [0.54516654, 0.45483346],
       [0.7596912 , 0.2403088 ],
       [0.5611569 , 0.4388431 ],
       [0.17377065, 0.82622935],
       [0.42142868, 0.57857132],
       [0.30538941, 0.69461059],
       [0.71221976, 0.28778024],
       [0.77790972, 0.22209028],
       [0.7938926 , 0.2061074 ],
       [0.42422877, 0.57577123],
       [0.63561337, 0.36438663],
       [0.33103371, 0.66896629],
       [0.72871439, 0.27128561],
       [0.16665264, 0.83334736],
       [0.56600768, 0.43399232],
       [0.11399337, 0.88600663],
       [0.76603645, 0.23396355],
       [0.62829315, 0.37170685],
       [0.61790495, 0.38209505],
       [0.30203861, 0.69796139],
       [0.34090197, 0.65909803],
       [0.70607803, 0.29392197],
       [0.20313854, 0.79686146],
       [0.79043907, 0.20956093],
       [0.7300077 , 0.2699923 ],
       [0.89600113, 0.10399887],
       [0.77546993, 0.22453007],
       [0.26055756, 0.73944244],
       [0.69918168, 0.30081832],
       [0.77546993, 0.22453007],
       [0.67311234, 0.32688766],
       [0.09662446, 0.90337554],
       [0.54254271, 0.45745729],
       [0.40002753, 0.59997247],
       [0.77903962, 0.22096038],
       [0.22136985, 0.77863015],
       [0.27141023, 0.72858977],
       [0.25655446, 0.74344554],
       [0.32955172, 0.67044828],
       [0.75152292, 0.24847708],
       [0.91016537, 0.08983463],
       [0.76603645, 0.23396355],
       [0.24559275, 0.75440725],
       [0.5662996 , 0.4337004 ],
       [0.87737541, 0.12262459],
       [0.29308287, 0.70691713],
       [0.41634563, 0.58365437],
       [0.72586122, 0.27413878],
       [0.31683213, 0.68316787],
       [0.82638206, 0.17361794],
       [0.84738944, 0.15261056],
       [0.77133106, 0.22866894],
       [0.7300077 , 0.2699923 ],
       [0.74708659, 0.25291341],
       [0.14880137, 0.85119863],
       [0.70306858, 0.29693142],
       [0.23583473, 0.76416527],
       [0.75414044, 0.24585956],
       [0.7849557 , 0.2150443 ],
       [0.37899345, 0.62100655],
       [0.31683213, 0.68316787],
       [0.3009509 , 0.6990491 ],
       [0.25754083, 0.74245917],
       [0.55349928, 0.44650072],
       [0.52051622, 0.47948378],
       [0.72120075, 0.27879925],
       [0.14880137, 0.85119863],
       [0.22409477, 0.77590523],
       [0.85302259, 0.14697741],
       [0.91714155, 0.08285845],
       [0.09654353, 0.90345647],
       [0.3277294 , 0.6722706 ],
       [0.66009241, 0.33990759],
       [0.47609389, 0.52390611],
       [0.44001423, 0.55998577],
       [0.20887576, 0.79112424],
       [0.1783463 , 0.8216537 ],
       [0.45533557, 0.54466443],
       [0.6893534 , 0.3106466 ],
       [0.73863728, 0.26136272],
       [0.8399901 , 0.1600099 ],
       [0.19001459, 0.80998541],
       [0.54516654, 0.45483346],
       [0.77903962, 0.22096038],
       [0.65072406, 0.34927594],
       [0.78656024, 0.21343976],
       [0.88776978, 0.11223022],
       [0.25780614, 0.74219386],
       [0.69874615, 0.30125385],
       [0.3864439 , 0.6135561 ],
       [0.78656024, 0.21343976],
       [0.70306858, 0.29693142],
       [0.65072406, 0.34927594],
       [0.73284787, 0.26715213],
       [0.47609389, 0.52390611],
       [0.53930442, 0.46069558],
       [0.68979648, 0.31020352],
       [0.75414044, 0.24585956],
       [0.54254271, 0.45745729]])

In [49]:
predicted_proba.shape

(140, 2)

In [50]:
predicted_proba[:, 1]

array([0.28778024, 0.41239991, 0.55662562, 0.22096038, 0.91541657,
       0.66896629, 0.70207504, 0.87043779, 0.21692179, 0.25291341,
       0.50485031, 0.77359703, 0.92969016, 0.26495948, 0.69466915,
       0.44964119, 0.44972574, 0.46069558, 0.59882226, 0.94679318,
       0.30125385, 0.22096038, 0.58365437, 0.58365437, 0.7587085 ,
       0.25682913, 0.48934806, 0.14296697, 0.80065765, 0.22096038,
       0.37028423, 0.68316787, 0.68825755, 0.52694241, 0.22096038,
       0.53492642, 0.22453007, 0.74389237, 0.40329273, 0.60301627,
       0.21343976, 0.45483346, 0.2403088 , 0.4388431 , 0.82622935,
       0.57857132, 0.69461059, 0.28778024, 0.22209028, 0.2061074 ,
       0.57577123, 0.36438663, 0.66896629, 0.27128561, 0.83334736,
       0.43399232, 0.88600663, 0.23396355, 0.37170685, 0.38209505,
       0.69796139, 0.65909803, 0.29392197, 0.79686146, 0.20956093,
       0.2699923 , 0.10399887, 0.22453007, 0.73944244, 0.30081832,
       0.22453007, 0.32688766, 0.90337554, 0.45745729, 0.59997247,
       0.22096038, 0.77863015, 0.72858977, 0.74344554, 0.67044828,
       0.24847708, 0.08983463, 0.23396355, 0.75440725, 0.4337004 ,
       0.12262459, 0.70691713, 0.58365437, 0.27413878, 0.68316787,
       0.17361794, 0.15261056, 0.22866894, 0.2699923 , 0.25291341,
       0.85119863, 0.29693142, 0.76416527, 0.24585956, 0.2150443 ,
       0.62100655, 0.68316787, 0.6990491 , 0.74245917, 0.44650072,
       0.47948378, 0.27879925, 0.85119863, 0.77590523, 0.14697741,
       0.08285845, 0.90345647, 0.6722706 , 0.33990759, 0.52390611,
       0.55998577, 0.79112424, 0.8216537 , 0.54466443, 0.3106466 ,
       0.26136272, 0.1600099 , 0.80998541, 0.45483346, 0.22096038,
       0.34927594, 0.21343976, 0.11223022, 0.74219386, 0.30125385,
       0.6135561 , 0.21343976, 0.29693142, 0.34927594, 0.26715213,
       0.52390611, 0.46069558, 0.31020352, 0.24585956, 0.45745729])

# Saving the ML Model

In [51]:
#Save a file that contains information on the Model using the pickle module.
#Logistic Regression Model
#Coefficients & Y-Intercept

import pickle

with open("model", "wb") as file:
    pickle.dump(reg, file)

In [52]:
#Saving the scaler

with open("scaler", "wb") as file:
    pickle.dump(absenteeism_scaler, file)